body {
    font-family: sans-serif;
    font-size: 22px;
    background-color: ghostwhite;
    text-align: center;
}

.Images {
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 350px;
}

.Grid {
    width: 80%;
    height: 200px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    top: 0px;
    left: -2px;
}

.Labels{
    display: inline-block;
    float: initial;
    width: auto;
}

.Inputs {
    display: inline-flex;
    float: initial;
    padding-left: 50px;
    border-radius: 2px;
    }

.Icons{
    height: 50px;
    width: 60px;
}

.Buttons {
    display: inline-block;
    float: initial;
    width: auto;
}

.Error{
    color:red;
    font-size: 26px;
}